<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/remove-me.js"></script>
    <link rel="stylesheet" href="/static/css/global.css"></style>
    <title>GoFitnessGym</title>
</head>
<body hx-boost="true">
    <main class="flex flex-col min-w-screen min-h-screen bg-[#ECE9E9] relative">
        <div class="fade-me-in mt-6 m-0 p-0 absolute right-[50%] translate-x-[50%]" id="errors" hx-ext="remove-me"> </div>
        <div class="fade-me-in mt-6 m-0 p-0 absolute right-[50%] translate-x-[50%]" id="success" hx-ext="remove-me"> </div>
        {{ template "content" . }}
    </main>
</body>
</html>
