{{define "content"}}

<section class="flex flex-row px-5 gap-5 flex-1">
    <div class="flex flex-col w-full h-full  justify-center items-center min-h-screen ">
        <div class="text-[#1A1363] w-full max-w-[420px]">
            <fieldset class="flex flex-col">
                <legend>
                    <h2 class="text-3xl font-bold mb-6">Sign-in</h2>
                </legend>

                <label for="email" class="text-lg font-bold">Email</label>
                <input class="mb-6 px-3 py-2 bg-white border border-2 border-[#332F64] rounded focus:outline focus:outline-[#332F64] focus:outline-2 transition" name="email" type="email">

                <label for="password"  class="text-lg font-bold">Password</label>
                <input class="mb-6 px-3 py-2 bg-white border border-2 border-[#332F64] rounded focus:outline focus:outline-[#332F64] focus:outline-2 transition" name="password" type="password">

                <div class="flex flex-row justify-between">
                    <div class="flex items-center gap-2">
                        <input type="checkbox" name="remember" id="remember" checked>
                        <label for="remember">Remember me</label>
                    </div>
                    <div class="">
                        <a class="hover:opacity-70" href="/forgot-password">Forgot password?</a> <br>
                        <a class="hover:opacity-70" href="/sign-up">Sign Up</a>
                    </div>
                </div>
            </fieldset>

            <button
                hx-post="/login/user" hx-swap="show:none" hx-target="none"
                type="submit"
                class="hover:opacity-70 text-white bg-[#1A1363] w-full mt-6 py-4 rounded-3xl font-bold text-lg"
            >
                Login
            </button>
        </div>
    </div>
    <div class="hidden md:flex flex-col justify-center items-center w-full h-full min-h-screen">
        <img class="max-w-[520px] w-full block" src="/static/img/logo.png" alt="logo">
    </div>
</section>

{{end}}
